<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  <add key="Brand" value="icon.png" />
  <add key="DBType" value="MySQL" />
  <add key="DBMyConStr" value="Data Source=localhost;Port=3306;Database=aivms;User Id=imvs;Password=abcd1234;charset='utf8';pooling=true;Sslmode=none;Allow Zero Datetime=True" />
  <add key="RoleName" value="管理员" />
  <add key="StartMenu3" value="CommunicationView" />
  <add key="StartMenu1" value="VideoView" />
  <add key="StartMenu2" value="HoldView" />
  <add key="StartMenu" value="BeltView" />
  <add key="RunDataRecive" value="true" />
  <add key="RunDataSender" value="true" />
  <add key="Video1" value="192.168.100.65" />
  <add key="Video2" value="192.168.100.68" />
  <add key="Video3" value="192.168.100.69" />
  <add key="VideoName1" value="视频一" />
  <add key="VideoName2" value="视频二" />
  <add key="VideoName3" value="动态视频" />
  <add key="ReserveHold" value="5" />
  <add key="IsCheckBack" value="false" />
  <add key="Inerval" value="1000" />
  <add key="LocationType" value="Preset" />
  <add key="DetectType" value="Device" />
  <add key="WinW" value="256" />
  <add key="WinH" value="256" />
  <add key="BlockW" value="64" />
  <add key="BlockH" value="64" />
  <add key="StrideW" value="32" />
  <add key="StrideH" value="32" />
  <add key="CellW" value="32" />
  <add key="CellH" value="32" />
  <add key="Title" value="Ai智能管理平台" />
  <add key="Title1" value="子标题一" />
  <add key="PlayMode" value="AUTO" />
  <add key="Type" value="Client" />
  <add key="LocalPort" value="8218" />
  <add key="HoldCount" value="0" />
  <add key="HoldCameraCount" value="0" />
  <add key="WorkDirction" value="1" />
  <add key="Threshold" value="0.6" />
  <add key="AlarmConfirmTime" value="3" />
  <add key="AlarmLeaveTime" value="5" />
  <add key="LogLevel" value="0" />
  <add key="IsAutoUpload" value="False" />
  <add key="IsAutoClean" value="True" />
  <add key="SaveSample" value="False" />
  <add key="IsVoice" value="False" />
  <add key="UploadServer" value="0.0.0.0" />
  <add key="UploadPort" value="80" />
  <add key="UploadUser" value="**矿" />
  <add key="UploadPasswd" value="abcd1234" />
  <add key="UploadMethod" value="HTTP" />
  <add key="UploadKey" value="" />
  <add key="QueryInerval" value="3000" />
  <add key="SealInerval" value="60000" />
  <add key="AutoPreset" value="False" />
  <add key="HoldPreset" value="1" />
  <add key="IdlePreset" value="1" />
  <add key="LastPosition" value="-1" />
  <add key="ScreenNum" value="1" />
  <add key="HeadVideo" value="192.168.100.68" />
  <add key="TailVideo" value="192.168.200.90" />
  <add key="AlarmVideo" value="192.168.100.68" />
  <add key="AlarmInerval" value="15" />
  <add key="VideoInterval" value="2" />
  <add key="VideoInterval1" value="10" />
  <add key="VideoInterval2" value="20" />
  <add key="VideoCount" value="64" />
  <add key="VideoList" value="-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1" />
  <add key="StreamServer" value="0.0.0.0" />
  <add key="BlockMinWidth" value="150" />
  <add key="BlockMinHeight" value="100" />
  <add key="TransPort" value="10002" />
  <add key="MachineCode" value="CD2D23167AAED085" />
 </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.QualityTools.Testing.Fakes" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
